<!DOCTYPE html>
<html>
<head>

<title>Contact Us | Virelle & Co.</title>

<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect"
href="https://fonts.gstatic.com"
crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=Poppins:wght@300;400;500;600&display=swap"
rel="stylesheet">

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<!-- NAVBAR -->

<nav>

<div class="logo-container">

<img src="{{ url_for('static',
filename='images/logo.jpeg') }}"
class="nav-logo">

<div class="logo-text">
Virelle & Co.
</div>

</div>

<ul>

<li><a href="/">Home</a></li>
<li><a href="/products">Collection</a></li>
<li><a href="/how-to-use">How To Use</a></li>
<li><a href="/location">Location</a></li>
<li><a href="/contact">Contact</a></li>

</ul>

</nav>

<!-- CONTACT HERO -->

<section class="contact-hero">

<div class="contact-overlay"></div>

<div class="contact-content">

<h1>Contact Us</h1>

<p>
We’d love to hear from you.
</p>

</div>

</section>

<!-- CONTACT SECTION -->

<section class="contact-container">

    <!-- EMAIL -->
    
    <a href="mailto:virelle.and.co.mehandi@gmail.com"
    class="social-card">
    
    <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png">
    
    <h2>Email</h2>
    
    <p>
    hello@virelleco.com
    </p>
    
    </a>
    
    <!-- INSTAGRAM -->
    
    <a href="https://www.instagram.com/virelle.and.co?igsh=ZzM1aHFneHBrbmU0"
    target="_blank"
    class="social-card">
    
    <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png">
    
    <h2>Instagram</h2>
    
    <p>
    @virelle.and.co
    </p>
    
    </a>
    
    <!-- PINTEREST -->
    
    <a href="https://pin.it/iZIPCfMYy"
    target="_blank"
    class="social-card">
    
    <img src="https://cdn-icons-png.flaticon.com/512/145/145808.png">
    
    <h2>Pinterest</h2>
    
    <p>
    Virelle&Co.
    </p>
    
    </a>
    
    <!-- FACEBOOK -->
    
    <a href="https://www.facebook.com/profile.php?id=61590017854945"
    target="_blank"
    class="social-card">
    
    <img src="https://cdn-icons-png.flaticon.com/512/733/733547.png">
    
    <h2>Facebook</h2>
    
    <p>
    VirelleandCo Henna Brand
    </p>
    
    </a>
    
    </section>

</body>
</html>