<!DOCTYPE html>
<html>
<head>

<title>{{ product.name }}</title>

<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect"
href="https://fonts.gstatic.com"
crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=Poppins:wght@300;400;500;600&display=swap"
rel="stylesheet">

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<!-- NAVBAR -->

<nav>

<div class="logo-container">

<img src="{{ url_for('static',
filename='images/logo.jpeg') }}"
class="nav-logo">

<div class="logo-text">
Virelle & Co.
</div>

</div>

<ul>

<li><a href="/">Home</a></li>
<li><a href="/products">Collection</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/register">Register</a></li>

</ul>

</nav>

<!-- PRODUCT DETAILS -->

<div class="details-container">

<!-- IMAGE CAROUSEL -->

<div class="carousel-container">

<img id="main-image"
src="{{ url_for('static',
filename='images/signature-kit.jpeg') }}"
class="main-product-image">

<div class="thumbnail-container">

<img src="{{ url_for('static',
filename='images/signature-kit.jpeg') }}"
onclick="changeImage(this)"
class="thumbnail active-thumb">

<img src="{{ url_for('static',
filename='images/kit1.jpeg') }}"
onclick="changeImage(this)"
class="thumbnail">

<img src="{{ url_for('static',
filename='images/kit2.jpeg') }}"
onclick="changeImage(this)"
class="thumbnail">

<img src="{{ url_for('static',
filename='images/kit3.jpeg') }}"
onclick="changeImage(this)"
class="thumbnail">

<img src="{{ url_for('static',
filename='images/kit4.jpeg') }}"
onclick="changeImage(this)"
class="thumbnail">

<img src="{{ url_for('static',
filename='images/kit5.jpeg') }}"
onclick="changeImage(this)"
class="thumbnail">

<img src="{{ url_for('static',
filename='images/kit6.jpeg') }}"
onclick="changeImage(this)"
class="thumbnail">

</div>

</div>

<!-- PRODUCT INFO -->

<div class="product-info">

<h1>{{ product.name }}</h1>

<p>{{ product.description }}</p>

<ul>

<li>4 Premium Mehendi Cones</li>
<li>Essential Oil</li>
<li>Aftercare Balm</li>
<li>Sealant Spray</li>
<li>Mehendi Dip</li>
<li>Designer Stencils</li>

</ul>

<h2>₹{{ product.price }}</h2>

<a href="/checkout" class="btn">
Buy Now
</a>

</div>

</div>

<!-- JS -->

<script>

function changeImage(element){

    document.getElementById("main-image").src =
    element.src;

    let thumbnails =
    document.querySelectorAll(".thumbnail");

    thumbnails.forEach(img => {

        img.classList.remove("active-thumb");

    });

    element.classList.add("active-thumb");

}

</script>

<script src="{{ url_for('static',
filename='js/script.js') }}"></script>

</body>
</html>